/* AboutUs.css */

.about-us {
    background-image: url('../../Assets/images/aboutbg.jpg');
    background-size: cover;
    background-position: center;
    padding: 80px 0;
    text-align: center;
}

.about-container {
    max-width: 800px;
    margin: 0 auto;
}

.about-container h2 {
    font-size: 36px;
    color: #ffffff; 
    margin-bottom: 40px;
}

.about-container p {
    font-size: 20px;
    line-height: 1.6;
    color: #ffffff; 
    margin-bottom: 20px;
}

/* Animation */
.about-container p {
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
