/* Contact.css */

.contact {
    padding: 80px 0;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-color: #edf2f4;
}

.contact-container {
    max-width: 600px;
    margin: 0 auto;
}

h2 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
}

.contact-container p {
    font-size: 18px;
    color: #666;
    margin-bottom: 40px;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    font-size: 18px;
    color: #333;
    margin-bottom: 8px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    outline: none;
    border-color: #007bff;
}

.btn {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}
