/* Event.css */

.event-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
  
.event-container {
    max-width: 800px;
    margin: 0 auto;
}
  
.event-form-container {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}
  
.event-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
}
  
.dashboard {
    display: flex;
    justify-content: space-between;
}
  
.event-list, .create-event {
    flex: 1;
    margin-right: 20px;
}
  
.event-list h3, .create-event h3 {
    font-size: 20px;
    margin-bottom: 10px;
}
  
.event-list ul {
    list-style: none;
    padding: 0;
}
  
.event-list ul li {
    margin-bottom: 10px;
}
  
.create-event .btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
  
.create-event .btn:hover {
    background-color: #0056b3;
}
  
.event-form {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
}
  
.event-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
}
  
.form-section {
    margin-bottom: 20px;
}
  
.form-section h3 {
    font-size: 20px;
    margin-bottom: 10px;
}
  
.form-section input[type="text"],
.form-section input[type="date"],
.form-section input[type="time"],
.form-section textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
  
.form-section input[type="file"] {
    margin-top: 10px;
}
  
.form-section textarea {
    height: 100px;
}
  
.form-section input[type="color"] {
    margin-right: 10px;
}
  
.btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
.btn:hover {
    background-color: #0056b3;
}
