/* Home.css */

.hero {
  position: relative;
  overflow: hidden;
}

.slider {
  display: flex;
  width: 400%;
  height: 750px;
  animation: slide 40s infinite linear;
  overflow: hidden;
  position: relative;
}

.slide {
  flex: 0 0 25%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.slide img {
  width: 100%;
  height: auto;
}

.description {
  background-color: rgba(98, 166, 183, 0.5);
  color: #fff;
  position: absolute;
  top: 100px;
  left: 50%;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #f2eeec;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.description:hover {
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  transform: translate(-50%, -5%) scale(1.05);
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
}

@keyframes slide {
  0%, 100% {
      transform: translateX(0);
  }
  50% {
      transform: translateX(-50%);
  }
}

/* event section */
.event-categories h2 {
  font-size: 40px;
  color: #fff;
  margin-bottom: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}

.event-categories {
  background-color: #98c1d9;
  padding: 80px 0;
  text-align: center;
}

.category-grid {
  display: flex;
  justify-content: space-around;
  gap: 40px;
  flex-wrap: wrap;
}

.category-card {
  background-color: #fff;
  border-radius: 20px;
  padding: 30px;
  text-align: center;
  flex: 1;
  max-width: 350px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.category-card:hover {
  transform: translateY(-5px);
}

.category-card img {
  width: 150px;
  margin-bottom: 30px;
}

.category-card h3 {
  font-size: 24px;
  margin-bottom: 15px;
}

.category-card p {
  font-size: 18px;
}

/* featured events */
.featured-events {
  margin-top: 20px;
  background-color: #e0fbfc;
  padding: 80px 0;
  text-align: center;
}

.featured-events h2 {
  font-size: 40px;
  color: #3d5a80;
  margin-bottom: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}

.event-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.event-card {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 500px;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  margin: 20px;
}

.event-card:hover {
  transform: translateY(-10px); 
}

.event-image {
  flex: 1;
  overflow: hidden;
}

.event-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.event-details {
  padding: 20px;
}

.event-details h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.event-details p {
  font-size: 14px;
  margin-bottom: 10px;
}

.btn {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}

/* How It Works */
.how-it-works {
  background-color: #ee6c4d;
  margin-top: 20px;
  padding: 80px 0;
  text-align: center;
}

.how-it-works h2 {
  font-size: 40px;
  color: #fff;
  margin-bottom: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}

.steps {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.step {
  flex: 0 0 calc(25% - 20px);
  text-align: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.step:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
}

.step img {
  width: 100px;
  margin-bottom: 20px;
}

.step p {
  font-size: 16px;
  color: #333;
  line-height: 1.5; 
}

/* testimonials */
.testimonials {
  margin-top: 20px;
  padding: 50px 0;
  background-color: #f5f5f5;
}

.testimonials h2 {
  font-size: 40px;
  color: #293241;
  margin-bottom: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}

.testimonial {
  text-align: center;
  margin-bottom: 40px;
  transition: transform 0.3s ease-in-out;
}

.testimonial:hover {
  transform: translateY(-10px);
}

.testimonial img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

blockquote {
  font-style: italic;
  font-size: 20px;
  margin-bottom: 20px;
  padding: 0 20px;
  border-left: 5px solid #007bff;
}

cite {
  font-weight: bold;
  font-size: 16px;
  color: #007bff;
}
