/* Navbar.css */

.navbar {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
}

.navbar.scrolled {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 123, 255, 0.7);
}

.navbar::after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background-color: #007bff;
  transition: all 0.3s ease-in-out;
}

.navbar:hover::after {
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo img {
  width: 80px; 
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.logo:hover img {
  transform: scale(1.1);
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; 
}

.nav-links li {
  margin-right: 20px;
  transition: transform 0.3s ease-in-out;
}

.nav-links li a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.nav-links li:hover a {
  color: #007bff;
}

.nav-links li:hover {
  transform: translateY(-3px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Media Queries for Responsive Design */

/* For small screens */
@media (max-width: 768px) {
.container {
  padding: 10px; 
}

.logo img {
  width: 60px; 
}

.nav-links {
  flex-direction: column; 
  align-items: center; 
  gap: 10px; 
}

.nav-links li {
  margin-right: 0; 
}
}
