/* footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 50px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
}

.footer-contact,
.social-media,
.legal {
    flex: 1;
    text-align: center;
}

.footer-contact h3,
.social-media h3,
.legal h3 {
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 0;
}

.social-media ul,
.legal ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-media li,
.legal li {
    margin-bottom: 10px;
}

.social-media a,
.legal a {
    color: #fff;
    text-decoration: none;
}

.social-media a:hover,
.legal a:hover {
    text-decoration: underline;
}
.social-media a i {
    margin-right: 5px; 
}


.bottom-footer {
    text-align: center;
    margin-top: 20px;
}

.bottom-footer p {
    margin: 5px 0;
}
